@import "tailwindcss";

body{
    font-family: 'Courier New', Courier, monospace;
}

.notes-bg{
    padding-top: 2rem;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.note{
    background-color: #fef68a;
    color: black;
    overflow: auto;
    border-radius: 20px;
    padding: 1rem;
    border-bottom: 5px #353434 solid;
    min-height: 100px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    white-space: pre-wrap;
  }
  
.note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notes-list{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

/* Add Note Styling */

.note.new{
    background-color: #67d7cc;
    border-radius: 20px;
    padding: 1rem;
    border-bottom: 5px #353434 solid;
    min-height: 100px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
  }
  
  textarea{
    width: 100%;
    border: none;
    resize: none;
    background-color: transparent;
    resize: none;
    font-size: 1.5rem;
  }
  
  textarea:focus{
    outline: none;
  }
  
  .save {
    position: relative;
    background-color: #353434;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .save:hover{
    font-weight: bold;
    color: #353434;
    background-color: #ffffff;
  }
  
  .save:active{
    transform: scale(0.9);
  }

