@import "tailwindcss";

body{
    font-family: 'Courier New', Courier, monospace;
}

.notes-bg {
  padding-top: 2rem;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100vh;
  background-color: #ffffff;
}

.note{
    background-color: #fef68a;
    color: black;
    overflow: auto;
    border-radius: 20px;
    padding: 1rem;
    border-bottom: 5px #353434 solid;
    min-height: 100px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    white-space: pre-wrap;
  }
  
.note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notes-list{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

/* Add Note Styling */

.note.new{
    background-color: #67d7cc;
    border-radius: 20px;
    padding: 1rem;
    border-bottom: 5px #353434 solid;
    min-height: 100px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
  }
  
  textarea{
    color: #000;
    width: 100%;
    border: none;
    resize: none;
    background-color: transparent;
    resize: none;
    font-size: 1.5rem;
  }
  
  textarea:focus{
    outline: none;
  }
  
  .save {
    position: relative;
    background-color: #353434;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .save:hover{
    font-weight: bold;
    color: #353434;
    background-color: #ffffff;
  }
  
  .save:active{
    transform: scale(0.9);
  }

  /* Note Page - Header Styling */

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #353434;
    color: white;
    border-radius: 20px;
    margin-bottom: 1rem;
  }

  .header-icons {
    display: flex;
    justify-content: flex-end; /* Aligns the icons to the right */
    align-items: center; /* Vertically align the icons */
  }

  .header-icons .save{
    margin-right: 1rem; /* Adds space between the save button and the icons */
  }

  .header h1{
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
  }

  .header button{
    background-color: transparent;
    color: white;
    border:#ffffff solid 1px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }

  /* Dark Mode Styling */
.dark-mode {
  background-color: #000000;
}

.dark-mode body{
  background-color: #000000;
}

.dark-mode .notes-bg{
  background-color: #000000;
}

.dark-mode .note.new{
  color: #000000;
  background-color: #dfdddd;
  border-bottom: 5px #4d4d4d solid;
}

.dark-mode .note.new .textarea::placeholder{
  color: #000000;
}

.dark-mode .note.new .textarea{
  color: #000000;
}

.dark-mode .note{
  color: #ffffff;
  background-color: #121212;
  border-bottom: 5px #4d4d4d solid;
}

.dark-mode textarea{
  color: #ffffff;
}

.dark-mode .save {
  background-color: #3a3a3a;
  color: #ffffff;
}

.dark-mode .save:hover{
  background-color: #ffffff;
  color: #000000;
}

.dark-mode .note-footer{
  color: #dddddd;
}

.notes-bg, .note, .note.new, textarea, .save {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .delete-icon{
  color: #ffffff;
}

.dark-mode .delete-icon:hover{
  color: #e23c3c;
}
 